version: "3.8"

services:
  backend:
    build: ./backend
    container_name: library-backend
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: library-frontend
    ports:
      - "5000:5000"
    depends_on:
      - backend
